<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activities</title>
    <link rel="stylesheet" href="../static/styles/cssandjs/styles.css">
    <link th:href="@{/styles/cssandjs/styles.css}" rel="stylesheet" />
    <script src="../static/js/cssandjs/script.js"></script>
    <script th:href="@{/js/cssandjs/script.js}"></script>
</head>
<body>
    <object data="navigationBar.html" class="nav-import"></object>
</body>
</html>