<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="../static/styles/cssandjs/styles.css">
    <link th:href="@{/styles/cssandjs/styles.css}" rel="stylesheet" />
    <script src="../static/js/cssandjs/script.js"></script>
    <script th:href="@{/js/cssandjs/script.js}"></script>
    <script src="https://kit.fontawesome.com/e051e815bc.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
<nav>
    <input type="checkbox" id="check">
    <label for="check" class="nav-checkbtn">
        <i class="fa fa-bars"></i>
    </label>
    <div class="nav-logo-container">
        <a class="nav-logo" href="/">LOGO</a>
    </div>
    <ul>
        <li>
            <div class="nav-text-container">
                <a class="nav-text" href="#">test</a>
            </div>
        </li>
        <li>
            <div class="nav-text-container">
                <a class="nav-text" href="#">test</a>
            </div>
        </li>
        <li>
            <div class="nav-text-container">
                <a class="nav-text"  href="#">test</a>
            </div>
        </li>
        <li>
            <div class="nav-text-container">
                <a class="nav-text" href="#">test</a>
            </div>
        </li>
    </ul>
</nav>
</body>
</html>